<div ng-app="paymentsManager">
  <div class="view-container">
    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>

<div ng-controller="ModalDemoCtrl">
  <script type="text/ng-template" id="invoice.html">
      <div class="modal-header">
          <h3>I'm a modal!</h3>
      </div>
      <form ng-submit="submit()">
        <div class="modal-body">
          <label>Email address:</label>
          <input type="email" ng-model="user.email" />
          <label>Password</label>
          <input type="password" ng-model="user.password" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <input type="submit" class="btn primary-btn" value="Submit" />
        </div>
      </form>
  </script>
</div>