<p id="notice"><%= notice %></p>

<p>
  <strong>Amount (USD):</strong>
  <%= number_to_currency(@payment.amount) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<%= link_to 'Back', invoices_path @invoice %>
